body {
    background-color: #F5F5F5;
}
.row {
    background-color: #ffffff;
}

.padded15 {
	padding-left: 15px;
	padding-right: 15px;
}
.padded10 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-font {
	font-size: 18pt;
}
.nav-font li a {
	color: #B51D18;
}
.menu-elem:hover {
    color: #ffffff;
}

.page-header {
    margin: 0;
}

.product {
    padding-bottom: 5px;
}

.product:hover {
    color: #B51D18;
}

div.form-search {
    background-color: #eaeaea
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.icon-search:before {
    content: "\f002"
}

form#searchbox {
    width: 270px
}

#pos_search_top #pos_query_top {
    width: 407px
}

#search_block_li {
    text-align: right;
    float: right;

}

#search_block_top {
    padding-top: 8px;
    float: right;
    z-index: 10;
    display: inline-block;
}

#search_block_top .form-search {
    float: left;
}

#search_block_top .form-search {
    background: #eaeaea;
}

#search_block_top #search_query_top {
    background: none repeat scroll 0 0 transparent;
    color: #666;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0;
    border: 0;
    width: 230px;
    padding: 0 0 0 10px;
}

#search_block_top .btn.button-search {
    background: none;
    border: none;
    border-radius: 0;
}

#search_block_top .btn.button-search span {
    color: #969595;
    display: none
}

#search_block_top .btn.button-search em {
    display: none
}

#search_block_top .btn.button-search:hover i {
    color: #B51D18
}

.footer {
	width:90%;
    height:70px;
    float: none;
    margin: 0 auto;
}

.footer p{
    font-size: 18pt;
    color: #B51D18 !important;
}

.footer-container {
    
    background-color: #222;
    border-color: #080808;
    float: none;
    margin: 0 auto;
}

.subscribe-form-header {
    float: left;
    color: #fff;
    padding-top: 10px;
    padding-left: 5px;
    margin-right: 20px;
    line-height: 42px;
}

.subscribe-form-header label{
    font-size: 20px;
}

.input-box {
    float: left;
    width: 520px;
    padding-top: 10px;
}

.input-text {
    width: 100%;
    border-right: 0;
    border: none;
    border-left: 3px solid #B51D18;
    background: #5f605e;
    height: 50px;
    border-radius: 0px;
    color: white;
    padding-left: 20px;
}


.actions {
    width: 50px;
    padding-top: 10px;
}

.footer-actions {
    float:left;
    width: 50px;
    padding-top: 10px;
}

.icon-email {
    width: 60px;
    height: 30px;
}

.button {
    background: #B51D18;
    display: inline-block;
    padding: 10px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.actions .news-button{
    height: 30px;
    height: 50px;
    line-height: 34px;
    float: left;
}

.social-icons {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.social-icons h5 {
    float: left;
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    font-family: "Open Sans Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.social-link-icons {
    display: inline-block;
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 5px;
}

.total-table {
    font-family: arial, sans-serif;
    float:right;  
}

.total-table td {
    text-align: left;
    padding: 15px;
}

.order-table{
    height:500px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.order-table tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

.order-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.order-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.order-table tr:nth-child(even) {
    background-color: #dddddd;
}

.basket-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 97%;
}

.basket-table tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

.basket-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.basket-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.basket-table tbody>tr:nth-child(even) {
    background-color: #dddddd;
}

.links {
    float: right;
    margin: 0px;
}

.icon-circlefacebook {
    width: 40px;
    height: 40px;
}

.icon-circlegoogleplus {
    width: 40px;
    height: 40px;
}

.icon-circletwitter {
    width: 40px;
    height: 40px;
}

.banner-img{
    background-color:#222;
}

.banner-container {
    background-color:#222;
}

@media (max-width:768px) {
    #search_block_top {
    padding-top: 8px;
    padding-left: 12px;
    z-index: 10;
    bottom: -6px;
    right: 15px;
    float: left;
    height: 49px;
    display: inline-block
    }
}

@media (max-width: 1220px) {
    .social-icons h5 {
    display: none;
    }
}

@media (max-width: 1200px){
    .col-sm-12{
        float: none;
    }
}

@media (min-width: 1200px){
    .col-sm-12{
        float: left;
    }
}

@media (max-width: 1070px) {
    .input-box {
    width: 300px;
    padding-left: 5px;
    }
}

@media (max-width: 1045px) {
    .nav-font {
    font-size: 12pt;
    }
    
    .nav>li {
    position: relative;
    display: block;
    padding-right: 15px;
}
}

@media (max-width: 860px) {
    .subscribe-form-header {
    float: none;
    color: #fff;
    padding-top: 10px;
    padding-left: 5px;
    margin-right: 20px;
    line-height: 42px;
}

.footer {
    height:150px;
}
}

@media (min-width: 767px)
{
    .text-links {
    padding-top: 28px;
    }
}

@media (max-width: 767px)
{
    .text-links {
    padding-top: 15px;
    padding-left: 12px;
    }
}




@media (max-width: 560px) {
    .subscribe-form-header label {
    font-size: 18px;
    }
    
    .social-icons{
        padding-left: 45px;
    }
    .input-box {
    width: 200px;
    }

.footer {
    height:180px;
}
}
